[2017-11-13 18:41] gibe14 commented on #172
Alejandro, the 1.2.2 lcd files must go on the card INSIDE the firmware directory? My SD card originally did not have any of the 1.2.2 lcd files on.
Thank you for your help

[2017-11-14 01:49] edanweis opened #173 "New research increases printing speed and reduces errors."
I came across this paper which presents a technique to increase speed and maintain print quality. Just wondering if the BCN3D community is aware of it, or whether it could benefit the BCN3D controllers?

[http://www.sciencedirect.com/science/article/pii/S0957415817301277](http://www.sciencedirect.com/science/article/pii/S0957415817301277)

**Abstract**

![image](https://user-images.githubuserconte

[2017-11-14 09:15] AlejandroGarcia92 commented on #172
We have this tutorial: https://github.com/BCN3D/BCN3D-Cura-Windows/wiki/Updating-the-SD-Files-from-the-LCD-Display

If you download the the release v01-1.2.6 Source code the lcd files will be inside of _**SD files v122 R16**_ folder. Finally, you only have to replace the files.

[2017-11-16 22:36] maodch commented on #171
Yes sure, but that isn't a solution, because Cura and Simplify are the most used 3D Slicer's.
And as mentioned, I don't understand why other really cheap manufacturers like Wanhao haven't problems getting that running on both. And we're talking about 350$ Printers not 2500$ Printers

[2017-11-21 07:43] lemmans commented on #173
Really interesting document

[2017-11-21 08:25] AlejandroGarcia92 commented on #173
We are aware.

[2017-11-21 09:27] IdiocyCubed commented on #173
I think this is a much easier feature to implement which is in the latest version of Marlin.  It would be great if there was a gcode to set the K factor for various filaments.  This would allow the firmware to know what filament is being used which is a great advantage.  I've put this in because recently the acceleration and jerk has been increased to solve the issues with part corners, but this f

[2017-11-21 21:23] thesec commented on #173
+1 on @IdiocyCubed suggestion on adding the linear advance. Had very good results for me and I was able to increase print speed by about 10 mm/s on another printer.

[2017-11-23 17:37] jacquesleps commented on #165
your link is broken (404) !
Same problem here,
freeze when loading filament
freeze when unloading filament
sometimes freeze when browsing SD files.
Please explain how to load/unload filament, i do not really care about stepper ISR

[2017-11-23 20:02] tsp666 opened #174 "Firmware v01-1.2.7RC_M11.23 - Feedback"
Hi,

During calibration, the temperature figures shown are jumping from (example) 80 to 15 then up again and heating takes ages, sometimes stuck for 20 sec.

Manual heating is working flawlessly.

[2017-11-24 07:13] AlejandroGarcia92 commented on #174
Ok, @tsp666 I will check it but this has been changed on 1.2.6 to reduce the dripping by cooling down the hotends temp when is not printing lines. Also, Do you mean that percentage stuck for 20sec?

Thank you

[2017-11-24 07:36] AlejandroGarcia92 commented on #165
Hi, @jacquesleps
I've just change the link for release link because I sometimes change the version name it breaks the link.
What we try to fix is the eventual stuck on the animations(in general load/unload filament, calib, maintenance etc) but what you are reporting is that always gets stuck on that and always on the same site(load/unload filament).

(we are aware that sometimes happens )

I can e

[2017-11-24 12:35] tsp666 commented on #174
@AlejandroGarcia92 ,

See Video of heating process.
It's a brand new 0.6 mm hotend, left, custom material settings of 220degrees.

It took over 9 Minutes to heat up!
The video is showing all the jumps and display errors (sorry a bit boring, but better than words)

https://player.vimeo.com/video/244330118

Regards
Torsten

[2017-11-24 12:44] AlejandroGarcia92 commented on #174
Ok, It seems that hotend has difficulties to reach the target temp if i'm not wrong. Did you try to do AutoTune at Maintenance to update PID coefficients?

[2017-11-24 14:15] tsp666 commented on #174
@AlejandroGarcia92

Yes, Autotune was done just before the recording. Hotend is brand-new (as the previous one had the same effect) This did not happen with older versions of FW.

Normal heating to 220 deg is just taking 1min15 (before printing or manual though temp section, see attached).
So it has to be the calibration routine causing this - I think.

https://player.vimeo.com/video/244342612

[2017-11-25 16:37] maodch commented on #171
@AlejandroGarcia92
I also tested Cura with Repetier Host (Octoprint), and same result as printing directly from cura.
The result isn't round, seeded with zitts and blobs, really ugla.
Same GCODE with SD printed works perfekt.
So, it isn't really fixed so far.

Any further ideas?

You must test it with round things, straight lines aren't the matter.
![octoprint1](https://user-images.githubuserconte

[2017-11-25 16:37] maodch commented on #171
![octoprint2](https://user-images.githubusercontent.com/33425357/33232476-5e536eb8-d207-11e7-9a1b-108a157b78a3.JPG)

[2017-11-26 08:59] IdiocyCubed commented on #174
The calibration requires the bed to reach temperature as well and this is where I see the oscillating temperatures too... What is the bed temperature for your custom material?  I am installing a more powerful heatbed to solve this issue :)

[2017-11-26 10:54] tsp666 commented on #174
@IdiocyCubed

the bed temperature was only set to 40 degrees, so this should not have caused the effect.
In earlier Firmware versions this was never a problem.
What kind of heatbed are you looking to install?

[2017-11-26 21:17] IdiocyCubed commented on #174
Ok there must be something else going on then...  I have a spare heatbed, so I am just doubling them up for now.  I installed a second power supply to handle the increased bed current.

[2017-11-27 08:41] AlejandroGarcia92 commented on #174
@tsp666 Can you show me how much time bed requires to reach the target temperature?  Because, I remember that I let more margin before until temp target is reached.

[2017-11-27 08:55] AlejandroGarcia92 commented on #171
Yes, we have similar results. We find that there is a problem when is taking a curve where is processing a lot of gcodes. We are working to find a solution.

[2017-11-27 10:06] maodch commented on #171
Cool :-)

Btw: is there a future way, to have the Filament Flow accessible in LCD Touch?
Because Thats the only thing left I'm missing, when printing via SD.
Because temperature, flow and speeds are the 3 most important settings during a print.

[2017-11-27 14:16] tsp666 commented on #174
@AlejandroGarcia92

Is there any other way of measuring it than manually on the heatbed? I can do this with an infrared thermometer if needed

[2017-11-28 08:38] AlejandroGarcia92 commented on #174
I hope that you can. Take into account that the bed thermistor is just in the middle. Try to compare infrared thermometer results between thermistor measure. If it is a bed cause, support can help you better than me.

[2017-11-28 08:46] tsp666 commented on #174
I will measure and report. As normal printing is working fine, I doubt a bed issue, but let's see...

[2017-11-30 21:48] Prejkox opened #175 "v01-1.2.6 hangs when calibrating"
some into "Full calibration" after changing nozzle size printer get stuck after the third test print (the one to check the alignment of the heads). It finish the print and then the screen is stuck with A picture of the head and the text "Printing a test" and noting more happens. After this I need to cut the power.
I have done it twice now and got the same result. The second time the printer did no

[2017-12-01 07:57] AlejandroGarcia92 commented on #175
Hi @Prejkox, we were working on this kind of issues related with animation stucks. Take a look at the [pre-release version](https://github.com/BCN3D/BCN3DSigma-Firmware/release). Your feedback is important for us. I hope that it could help you.

[2017-12-01 16:12] Prejkox commented on #175
OK, thanks for the reply. Seems to be something wrong with the link you included. It points to something that do not exist it says when clicking it. Is it easy to install this when it is not done automaticly thru Cura?
Also Searched for the update firmware option in the new Cura but it seems not be there?! Automated firmware update is still only possible in the old cura version or?

[2017-12-01 20:52] Prejkox opened #176 "Improvement proposal regarding file list"
I saw a feature on the Ultimaker 3 that they recently added that I like and maybe it could be something that is possible to add on the Sigma/Sigmax.

When opening the file browser in the printer the latest file is picked up and highlighted  with "latest file" directly in the top of the file list when you enter it. This is really neat or what to call it and you do not need to search thru the list t

[2017-12-01 20:53] flandaluce commented on #176
+1

[2017-12-04 03:56] WanaGo commented on #174
@AlejandroGarcia92 - This is what I experienced a few months ago too, if you recall the video I sent you in email. Same thing.

[2017-12-04 06:57] tsp666 commented on #174
@AlejandroGarcia92

I measured the real bed temp compared to what is displayed and it's way off. I ordered a new heatbed, let's see how it changes when it arrives in some time.

[2017-12-06 01:36] shaneo1977 commented on #64
+1

[2017-12-06 05:40] ZAMHelmets commented on #175
I took the release candidate from[ here](https://github.com/BCN3D/BCN3DSigma-Firmware/tree/v01-1.2.7RC) as the link above didn't work for me. The LCD still freezes on me during the full calibration process. Steps to reproduce:

Click on Full Calibration from the LCD
Run z-axis calibration on both extruders (though I did it once skipping this step)
Run x-axis calibration
Redo x-axis calibration
The

[2017-12-11 09:13] AlejandroGarcia92 commented on #175
@Prejkox link fixed. We are working to be able to update the firmware in Cura2.

[2017-12-13 17:30] pbartko opened #177 "Extruder linear advance"
The current Marlin firmware includes Linear Advance to help improve pressure control within the nozzle during acceleration and deceleration.  Looking at the Configuration_adv.h file, I see a section for Extruder Advance that looks similar but is not activated.  Is there a reason why?  Has anyone experimented with this turned on?

Thanks,

[2017-12-14 00:27] Abl3D opened #178 "LCD start to be irresponsive, then it become white, what can be done? Firmware 01-1.1.3"
Hi,
My LCD screen start to be very irresponsive and a few minutes later it become white, and i cant see any information not even the starting "splash screen" BCN3D, it blink twice and then stay white?

I've been thinking to format and reinstall the micro SD LCD files, but i can't found the firmware version 01-1.1.3, and i'am scared to updated to the last one whitout a LCD screen working properly.

[2017-12-14 08:36] AlejandroGarcia92 commented on #177
We are working on it, but we are getting bad results. It seems to fix those issues but we get so much extruder noise and no successful print.

[2017-12-14 08:43] AlejandroGarcia92 commented on #178
Strange behaviour, did you contact with support? Anyway I just attached 1.1.3 which is quite old, I don't recommend it.
[v113.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/1558423/v113.zip)

[2017-12-14 16:56] Abl3D commented on #178
Thanks for the response, unfortunatly, remplacing the firmeware file on the SD card do not fix my issue.

[2017-12-17 07:45] IdiocyCubed commented on #177
@AlejandroGarcia92  Are you using the new linear advance from the latest version of Marlin?  I have used the legacy linear advance that is included in the current Sigma firmware and it does not perform well at all.   If I printed very slowly it worked, but like you are saying above it caused a lot of noise on the extruder stepper motor. Have you tried porting the latest stepper routines with linea

[2017-12-18 09:40] AlejandroGarcia92 commented on #177
Yes, we have this kind of issues. We are developing from here: https://github.com/MarlinFirmware/Marlin/tree/1.1.x

This marlin version fix USB comm and we have not adapted marlin for display yet.

Also this adaption will take some time because the name variables are not the same in all cases and some sigma methods must be reworked, etc...

But, now, our priority is to make the linear advance work

[2017-12-18 22:08] pbartko commented on #177
Marlin's Linear Advance has problems with Cura.  This has to do with Cura using variable extrusion widths and the Linear Advance calculations expecting a constant line width.  Sometimes there are wild oscillations in the advance calculated as a result.

In 1.2.7RC, will the use of M900 command set K for the advance calculations or do you have to hard code it in the firmware?  I have both Cura and

[2017-12-19 14:06] AlejandroGarcia92 commented on #171
Hi, we've recently made some fixes on the USB communication and now it's possible to establish connection and print a job in simplify3d.

I use the following communication firmware config:
![image](https://user-images.githubusercontent.com/17469944/34160456-57d081ce-e4cd-11e7-95e4-e9361861ea74.png)

And I got good results. No slow curve moves as a sd printing. Let me know, we are still working on

[2017-12-19 19:55] tsp666 commented on #174
@AlejandroGarcia92

Heatbed was replaced with a new one, firmware updated to actual beta (19.12.17) - but strange bed temp display still on. While hotends are showing 12 deg, the bed shows 42 ? (as the old one did, actual temp around 14 degs, measured).
Any chance this is caused by any bad eeprom entry or a bug in the fw?

[2017-12-20 09:03] AlejandroGarcia92 commented on #174
It has no sense. In our machines, we don't have problems about it. We don't really change anything in the firmware that could cause this issue(as far as I know).

To verify:
1. If you disconnect the bed cable, firmware must show 0 deg.
2. Go back to an official release which works fine for sure.

There is another possible option that implies to **mainboard**. So, recently you've changed the Heatbe

[2017-12-20 09:39] maodch commented on #171
Hi @AlejandroGarcia92

very cool, Updated and tested. Thank you!

So far I'm with you, no issues. My first part was easier, less roundings, but I will update you soon after my Pingu test :-)

BTW: The Flowrate, is it accessible too trough S3D? Because I took your recommended settings, and there Looks like it isn't?

Off Topic question: Is it also possible to get over 100° (actually 109°) degrees f

[2017-12-20 10:25] AlejandroGarcia92 commented on #171
BTW: The Flowrate, is it accessible too trough S3D? Because I took your recommended settings, and there Looks like it isn't?

`I will test this S3D feature to ensure if it works. You recommend me to implement this feature in settings but unfortunately we don't have plans to do it soon.`

Off Topic question: Is it also possible to get over 100° (actually 109°) degrees for the build plate, because o

[2017-12-20 11:19] maodch commented on #171
Something I recognized: Every 3 seconds (or Close to that) the message appears: "Display is ready" and folowed by "Display got disconnected"

But sofar it's running Forward...

[2017-12-20 11:32] maodch commented on #171
and the Display is getting unaccessible ... no touching anymore :-)

[2017-12-20 12:13] AlejandroGarcia92 commented on #171
I believe that this mainboard seems that has got crazy.

[2017-12-21 19:52] maodch commented on #171
So. Finally, the prints are really good.
But something is wrong. As soon you have connected S3D to your Printer, printing some parts (without S3D, only with SD), after some prints, the Printer has totally weird coordinates and is dooing strange things.
Same behaviour as in the past.
And really strange, the Printer only has to be connected with the pc, and not doing Special things.

If I could gues

[2017-12-21 23:29] maodch commented on #171
@AlejandroGarcia92
About the Flowrate you're right, it works with S3D, perfect. I tested it too. Very cool. Thanks.

If the "Mainboard driving crazy mode" wouldn't happen, the rest seams working as designed, nice, and stable.
Good Job :-)

[2017-12-22 00:16] maodch commented on #171
@AlejandroGarcia92
Btw: Wish you a wonderful christmast time :-)

[2017-12-22 11:43] #171 closed

[2017-12-22 21:05] tsp666 commented on #174
@AlejandroGarcia92

It was the mainboard which caused the strange problem - I replaced it and now the calibration process is working as it should, thanks and have a good X-mas time!

[2017-12-22 23:19] maodch commented on #171
@AlejandroGarcia92
Will this Feature also work for Cura? Because it's your main Software bundled and offered with BCN Printers.

[2017-12-27 09:09] AlejandroGarcia92 commented on #171
That is what we are developing.

[2017-12-27 09:10] AlejandroGarcia92 commented on #174
Have a good X-mas

[2017-12-31 12:17] maodch opened #179 "Roundings"
I'm not sure if I'm right in place, but I don't know what to do more, because I have testes all software settings I know (speed, flow, temperature, layer, retraction, infill, wall line counts  ... everything).

Look at the pictures in de appendix:
My Machine is set with a 0.8 Nozzle, and as mentioned, I tired really all possible settings.
I'm unable to print these round connectors without any blob

[2018-01-06 20:59] maodch opened #180 "Wish for Extrusion Multiplayer in Display"
I really miss the option, to set the extrusion multiplier direct on the display.
Speed, Temperature are given, but not this.

Because, if you're started a print, and suddently the extruder begins to snap back because of over extrusion, you only can set up higher temerature, but if that not helps, you must stop the hole print. Even the over extrusion happend in the middle of the print because of th

[2018-01-06 21:04] maodch opened #181 "Stepper E-Steps for Bondtech"
Because I was unsatisfied with the shipped extruders (feeders), I bought the suitable Bondtech extruders for my Sigmas, with a amazing result.

For that I had to adjust the E-Steps from 152 (Shipped value) to 492.45.
Randomly (and without any Firmware update or changes on the machine itself), the value goes lost and goes overwrited with 152 again.

Please eigher tell me, what this "reset" behavior

[2018-01-07 12:18] pgilfernandez commented on #180
+1

[2018-01-07 15:33] hst68 opened #182 "Warning! Full Calibration works not any more"
**Warning! This bug can cause considerable damage if the printer is not switched off quickly.**

The Full Calibration works with the compiled

 [firmware 2 1.2.8](https://github.com/BCN3D/BCN3DSigma-Firmware/tree/v01-1.2.7RC?files=1) (it shows on the display) of not any more. Almost destroyed my glass bed and the switches. The leftist Hothend is better said to be banging against the right. So that

[2018-01-08 08:09] AlejandroGarcia92 commented on #181
This reset can be done by going into Setup Assistant and when the firmware version has changed.

[2018-01-08 08:19] AlejandroGarcia92 commented on #182
Sorry, it was my fault. I compiled the Sigmax version. I've just reversed to M12.22. Anyway, when I update the RC version I do it in Releases.

[2018-01-08 10:19] guillemavila commented on #180
Linked to #64

[2018-01-08 10:28] guillemavila commented on #180
You can get the trick if printing over USB.

- with Simplify you have an extrusion controller (set to 100% by default)
- you can also get the same effect sending a M221 S[percentage]. Set the flow to 90% with `M221 S90`

Note it will change the flow for both extruders.
Right now do not expect the feature in the display in the short term as it would need new display files.

[2018-01-08 10:28] #64 closed

[2018-01-08 12:52] pgilfernandez commented on #180
Of course, it does the trick but 99% of us don't have the printer attached to a computer...

[2018-01-08 18:39] maodch commented on #181
Hi @AlejandroGarcia92

Unfortunately in my case, the Firmware Setting changed without any update or Setup assistant use.
Is I wrote, changed the E-Steps (saw with matterhackers) set back to original value, and I printed many hours with another Setup for Bondtech.

I cannot explain why it reset itself.

[2018-01-08 18:45] maodch commented on #180
Hi @guillemavila
And the USB-Connection don't really working well. Because (as I already mentioned in another thread) after connecting and aborting a print, the Printer has some variables still saved and is always on.
After starting a new print, you will get some weird movements, crashes into plates, prints in the air and so on. It's not really done yet to recommend printing with USB.
And also if

[2018-01-12 00:30] maodch commented on #181
I could reproduce the issue.
If I press "STOP" and "SAVE" the print, the E-Steps are lost after turning on the Sigma again.
So the print will continue, but there is not really filament comming out the nozzle, so I had could canceled the job anyway because it's crap.

Why the Firmware (or the settings) will overwrite itself?

[2018-01-13 12:31] Abl3D commented on #178
So, my LCD appears to be dead, i finnally choose to switch to the new LDC from R17, wich is far better than the old one. It works great now!

[2018-01-15 08:13] #178 closed

[2018-01-15 11:39] #182 closed

[2018-01-15 20:33] maodch commented on #181
I stored it with MatterControl - > Configuration -> and saved there to EPROM

[2018-01-16 08:25] AlejandroGarcia92 commented on #181
I've just tested and you are right, I will test to press STOP SAVE.

[2018-01-16 09:07] AlejandroGarcia92 commented on #181
I've test STOP SAVE right now and E steps are not overwritten. Checking the firmware code, the E-steps should be overwritten itself in the setup assistant and when the firmware version is changed.

[2018-01-16 20:43] maodch commented on #181
That's weird.
You are absolutely right.
Maybe I was to stupid in this case.

Sorry for that.

[2018-01-16 20:43] #181 closed

[2018-01-21 15:21] maodch commented on #169
I'm also owning 2 pairs of Bondtech for Sigma R17.
But I faced in some feeding problems. Tried any variation of Steps per mm from  492.45 up To 510.
The extruder snaps back all the time on all 4 Extruders I tested it.
Going back to the stock extruders I haven't it. First I thought it's the nozzle. After replacing to a new one nothing. Changed anything. But finally after gone back to stock, all is

[2018-01-22 08:23] AlejandroGarcia92 commented on #169
Why did you go to 1.2.9(which is a Sigmax FW) and came back to 1.2.7? If you do this, by installing 1.2.9 steps will set to 492.45 and intalling 1.2.7 will set to 152.

[2018-01-22 12:26] maodch commented on #169
Sorry fully agree, it was a typer, should be 1.2.6 to 1.2.7

[2018-01-22 12:51] AlejandroGarcia92 commented on #169
Ok, then when the FW version is changed the e-steps is set to default values. That's what happens for sure.

[2018-01-23 18:26] maodch commented on #169
yes, agree. But it's not to do with the E-Steps.
Careless if set to 492.45 or 495 or 503 or even heigher.

[2018-01-24 23:45] tampas opened #183 "Different filament diameters in Duplication Mode"
Hi, I've been tying to use duplication mode but am getting poor results on E2 due to the difference in diameters between the two filaments.

Is it possible to set different diameters for both extruders?

Tks in advance for the feedback and congrats on all the work developed

[2018-01-25 09:08] AlejandroGarcia92 commented on #183
At this time is not possible because E1 copies the E0 moves directly.

[2018-01-25 11:31] atlemo opened #184 "01-1.2.7RC Unable to read files on SD"
Using the release from 10 days ago (commit 6732d9a) I'm unable to read any files on the SD card.
I can push a blank line and then it'll read on the next screen, but the list is empty in the beginning.

[2018-01-30 08:37] AlejandroGarcia92 commented on #184
Can you share me a video? Until now, I couldn't redo what you report.

[2018-01-30 12:11] #153 closed

[2018-01-30 12:17] AlejandroGarcia92 commented on #130
In v01-1.2.7 you will be able to go up to 5mm. Until now, it was bounded restricted in 1.5mm approximately.

[2018-01-30 12:17] #130 closed

[2018-02-12 09:20] haqbany opened #185 "SD Memory Card Formatter Mac and Windows Tested"
HI I have found this SD card formatter thats work great with Mac OSX and Windows very Simple.
https://www.sdcard.org/downloads/formatter_4/

All the Best

[2018-02-12 09:20] haqbany commented on #184
HI I have found this SD card formatter thats work great with Mac OSX and Windows very Simple.
https://www.sdcard.org/downloads/formatter_4/

All the Best

[2018-02-13 12:08] svengl commented on #155
It seems that this bug is still active. I run 1.2.7 Firmware on a Sigma R17 and Cura 1.10. After around 45mm the printer suddenly retracted the filament and kept printing empty.
Very annoying. I have the gcode file, but I cannot publish it. Is there something I can look for?

thanks

[2018-02-13 12:55] AlejandroGarcia92 commented on #155
@svengl Can you use zip to share me the gcode?

[2018-02-13 15:27] svengl commented on #134
I cannot really reproduce it, but I also have the feeling that I calibrate and it works fine. And then after some time the z-axis wanders and I get bad first layers and don't understand why because it had worked just in the print before. Then I either add manual correction or have to recalibrate.
Is there a way to see in gcode what the calibration result is? That might help to see if there is some

[2018-02-14 08:32] svengl commented on #155
I hope you received the file. I sent it by mail. Today we printed the same part but two times on the build plate and the print again failed at around 113mm height

[2018-02-14 08:41] AlejandroGarcia92 commented on #155
Received

[2018-02-14 13:42] atlemo commented on #64
+1

[2018-02-15 08:32] AlejandroGarcia92 commented on #155
![20180215_092124_preview](https://user-images.githubusercontent.com/17469944/36246860-fc9d69f6-1231-11e8-8f80-8b3bf776b508.jpeg)
The filament is over and the model was almost done. I did not see any strange behaviour. Also I took a look at the gcode and it's fine for me. Did this issue happens frequently during others print jobs?

Any way, I will print again the model just in case.

[2018-02-15 10:01] svengl commented on #155
ok strange
we printed it again with two of those on the plate (other gcode file) and
it happened again. but at a higher level. I even have a video of it. Do you
want those?

Alejandro Garcia Moreno <notifications@github.com> schrieb am Do. 15. Feb.
2018 um 09:32:

[2018-02-15 11:39] AlejandroGarcia92 commented on #155
@svengl Can you share the video?

[2018-02-18 21:24] mrcg opened #186 "URGENT: Stuttering when printing via USB (v1.2.7)"
I have updated to 1.2.7.
Unfortunately all printer are failing after some while because printer is stuttering (nozzle does not move for some seconds).

In the printing terminal i can see "Display is ready" and "Display got disconnected" all the time.

PLEASE URGENTLY FIX THIS ISSUE !!!!
All this issues when printing via USB are annoying.

Send: N93602 G1 X103.216 Y161.437 E0.0707*93
Recv: Display

[2018-02-19 06:50] tsp666 commented on #186
HI, just an idea, as I am having no problems even with 14 hour jobs through usb - did you ever try to print trough a raspberry with OCTOPRINT on it ? (the only way I am using USB)

Just my 2c..

[2018-02-19 08:44] AlejandroGarcia92 commented on #186
@mrcg There is a timeout between the connection screen-mainboard, but right now i don't know the cause.

[2018-02-19 09:13] mrcg commented on #186
I am using Octoprint on Raspberry on Sigma since day one (about 2 years now) without such issues.
The issue happens sporadically after some time on dual extruder print.
I flashed back now v1.2.6 to get rid of this problem.
The issues i had and have with USB printing are really frustrating.
This basic feature should be better tested and improved.
Using ocoprint is quite common to add networking cap

[2018-02-19 19:59] mrcg opened #187 "Critical USB printing bug back in v1.2.6: "Error:Line Number is not Last Line Number+1""
Because of issue #186 i have installed v1.2.6 again.
Unfortunately the dual print failed again because of old bug #86 which was fixed with v1.2.0 but now it seems to be back again.

Dual print is sporadically failing with "Error:Line Number is not Last Line Number+1" when printing via USB (Octoprint on Raspberry).

Printing via USB becomes a nightmare.  :-(

__**Based on terminal feedback from the

[2018-02-21 11:27] thesec commented on #186
+1 on the request for a fix

[2018-02-25 22:37] Prejkox opened #188 "[enhancement] Support for full name readability in the file browser"
I have had a problem with that it is only possible to read 22 letters of the full name of the gcode files on the sigma since I bought it. A printer in this price segment really should be able to show the whole file name even if it is longer then 22 letters. It is really hard to to choose the correct file if I have done the same thing with small changes and added that in the end of the file name.

[2018-02-25 22:53] Prejkox commented on #186
+1 on the request for a fix

[2018-02-26 08:16] Loimulohi opened #189 "Homing Z should home X also"
I issued Homing Z command from Simplify3D and both printheads were above print bed and not in parking position. Left one went to parking position and then went to position to use that microswitch. Right printhead stayed where it was and print bed rammed to right nozzle. I had to switch off the printer and cancel Z homing command.

So, should that Homing Z command to be modified that both printhead

[2018-02-26 08:36] AlejandroGarcia92 commented on #189
It could be implemented, even a all home procedures could be reworked.

[2018-02-26 08:40] AlejandroGarcia92 commented on #186
I will investigate how to fix it. I will try to reproduce this issue, I would tell you if I can't.

[2018-02-26 08:42] AlejandroGarcia92 commented on #188
I know it, but it is for space.

[2018-03-08 22:10] Prejkox commented on #188
I did not understand what you wrote in the last post AlejandroGarcia92. Can you explain it further?

[2018-03-09 00:05] hst68 opened #190 "change the filament during printing BUG"
If you change the filament during printing (Pause ->Tools->Change Filament). If it happens repeatedly that the process ends while unloading, but the LCD screen gets stuck with the process window. Actually, he should go to Lade Filament Screen. That's annoying because every pressure is destroyed! Firmware 1.2.7 R17 bondtech extruder

[2018-03-09 07:41] AlejandroGarcia92 commented on #190
We had this issue with bondtech and we saw that the relation between steps/mm and max feedrate was too high for the microcontroller and we set the max feedrate of E motors to 40mm/s for Sigmax which works with bondtech(Sigma has set by default 60).

Use the following commands:
M203 E40.00
M500

[2018-03-09 08:15] AlejandroGarcia92 commented on #188
Sorry,

What I wanted to say is that we shouldn't put more letters because the typo size should be smaller.

I didn't give you an answer for your proposals, sorry.

According to your proposals, we have display limitations for the implementation of the features that you proposed.

[2018-03-09 10:01] hst68 commented on #190
Great, it works!

[2018-03-12 12:35] #190 closed

[2018-04-04 13:53] myfeivel opened #191 "LCD freeze"
The LCD still freeze anytime. I have v1.2.7 on my Sigma BCN3D. I also tried to change the LCD-SD Card inside the Printer. Dont work. I can not touch the LCD, because it is still freeze when Printer turnd on. Can you fix thix Problem please ? With this Problem it is not possible to print anything on my Sigma, Calibration or printing can not be selected ....

[2018-04-05 08:27] myfeivel commented on #191
The Problem was solved, thx. It was the LCD-SD Card behind the LCD Display, i have change that sd card and it didnt work .... because the new SD Card was defect too. Now i make another SD Card, change it and it works fine !!

[2018-04-05 08:27] #191 closed

[2018-04-20 10:56] thesec opened #192 "Feature: Repeat Last Print"
Being able to repeat the last print would be nice to have.

It could be
- automatically displayed at the end of a print, followed by confirmation to do so and a confirmation to have cleaned the bed afterwards
- another option on top of the model selection when starting to browse the SD card
- either should name the model as listed in the SD card file's list, same as today with the print confirmati

[2018-04-23 22:51] willtmakinen78 commented on #187
Same problem, however it is with Repetier Server at startup. I can't ever even get to the point of basic movements, as the printer never becomes properly connected. It happens at the sendin gof the first line, N1 M110.

[2018-04-30 23:41] flandaluce commented on #180
+1

[2018-06-01 03:27] Vairn commented on #175
Hi All,
We are having these issues too, here is a video of what it does for us,
doesn't matter if full or partial callibration.

https://photos.google.com/share/AF1QipMPhNMV79NpuILcOBJeqC2mfHDlWY_kSHMdT5413X1JGRWyh1YyF8pGUaSWNm8p_Q?key=TWNYcjNjMjdaZlRCcHIydHAtSjFqQW5ZSEJXWUR3

We are on 1.2.7

[2018-06-01 03:31] Vairn commented on #175
We can get it to work again if we replace all files on the microSD card tho.

[2018-06-01 03:45] ZAMHelmets commented on #175
This happened again for us as well on the final calibration step - makes calibration extremely time consuming.

[2018-06-01 06:32] AlejandroGarcia92 commented on #175
@Vairn Did you format the microSD card as well?

[2018-06-01 08:05] Vairn commented on #175
Nope just deleted it all first.
Next time I will make a copy first and see if there are differences

⁣Sent from BlueMail ​

On Jun 1, 2018, 4:45 PM, at 4:45 PM, Alejandro Garcia Moreno <notifications@github.com> wrote:

[2018-06-13 10:14] svengl commented on #155
It happened again today. It suddenly retracted during the print. This time with Cura 2.0.1... But as it seemed the gcode was fine and it was fine here again. I understand that this is hard to fix...

[2018-06-14 12:13] svengl commented on #155
I reinstalled the firmware 1.2.7 to the printer and printed again wth the same gcode and it is still printing fine. So this sudden retraction is really hard to reproduce. I will keep you updated when it occurs again.

[2018-06-15 08:41] svengl commented on #155
An interesting observation to this issue:
I posted the issue https://github.com/BCN3D/Cura/issues/104  with the crashing head at the end of the print. When we came to the printer, we saw that it also has retracted the filament! So maybe a crash or some peak current or whatever might trigger this retraction (however that might be possible) and this also occurred during the print in the first try.

[2018-06-18 08:14] svengl opened #193 "Sudden shift of the x-Axis"
Another print, another failure

During print with the right extruder, the x-axis suddenly shifts. This threw off the whole build plate including the glass plate and resulted in a destroyed z-Axis end switch...! Some black plastic parts broke off.
This time Simplify3D was used due to bug https://github.com/BCN3D/Cura/issues/105 but I am pretty sure it is not a slicer issue.

![image005943](https://

[2018-06-18 10:40] AlejandroGarcia92 commented on #193
It seems that X right motor stepper driver is losing steps.

[2018-06-18 11:37] svengl commented on #193
So what can I do? We started another print with a new end switch and it works fine at the moment.
Could a replacement of the stepper driver boards help? Or is that improbable? Or rather the mainboard?

[2018-06-29 16:49] sennalb commented on #193
Hi,
I have the same problem with sigmax and the top trasparent cover, but if i remove the top cover the problem does not arise again.

I suppose that is temperature problem, I using the printer in my office with an ambient temperature of about 20-25 degrees. With the top cover the internal temperature of sigmax printer it seems too high: the bed is hot (65 deggres) the temperature of the motors of

[2018-06-30 09:28] BurtsBCN3D commented on #172
Alejandro, I had an issue with the R17 LCD screen as well, showing lines/stripes. Problem started after installing firmware update, running latest software version.
3DJake< reseller, advised to format the SD from the LCD and reload the SD files from R17. I believe around 18 files in totally, all from the latest firmware release v01-2.7. Now the LCD shows "drive not mounded" and system won't start.

[2018-06-30 09:36] BurtsBCN3D commented on #172
![20180626_153037](https://user-images.githubusercontent.com/38764294/42123880-8f1e8576-7c59-11e8-87ab-ad16123c61e3.jpg)
before format
![20180628_131915](https://user-images.githubusercontent.com/38764294/42123893-c3f15bca-7c59-11e8-8398-2ba77494577b.jpg)
after format

[2018-07-02 07:17] AlejandroGarcia92 commented on #193
Did you contact with support? They are dealing with those kind of issues.

[2018-07-02 07:29] AlejandroGarcia92 commented on #172
This kind of issue usually are fixed by support, I recommend you to write a email to them. Anyway, those lines and corrupt stuff is produced because the sd card has been corrupted and a solution is formatting it and copy the files.

[2018-07-06 16:31] sennalb commented on #193
Yes, I am in contact with support
Thanks
Alberto

[2018-07-13 09:29] svengl commented on #155
Another sudden retraction yesterday. Any ideas?

[2018-07-13 09:39] skywodd commented on #155
@svengl For me, the "bug" was resolved by replacing the SD card reader of the printer (big thank to the support team by the way).
I also changed my SD card and USB SD card reader, just in case.

No more random things after that.
The bug may be hardware related or a mix of hardware + software mishandling.

[2018-07-13 09:42] svengl commented on #155
Ah Ok. The support had written me that also. I then talked to our vendor and sent him this info. He however also couldn't see that the card reader is an issue. But if this really helped you, then we will try that for sure.
Did you also experience sudden axis shifts? Because I see that also beside the sudden retraction.

Thank you for the comment!

Sven

[2018-07-13 10:38] skywodd commented on #155
Yes, axis moves and filament retract.
One time, it even get really close to a complete disaster (Z going up on the head with partially printed stuff on bed).

Disclaimer: I've a R16 with upgrades. I don't known if the R17 hardware was revised to fix the following problem(s) after reporting it to the support team. I hope it's fixed, but it may not.

I've tested and concluded that **my** R16 was not

[2018-07-19 04:15] axiiiofevil opened #194 "Can't Compile"
Hi,

I can't seem to compile V 1.2.7.

[1.2.7-compile-errors.txt](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2208177/1.2.7-compile-errors.txt)

Looks like a change to HardwareSerial.h??

[2018-07-19 04:16] axiiiofevil commented on #194
I have changed the Configuration.h file to allow use of E3D hotends, but it won't compile with the standard Configuration.h file either...

[2018-07-19 04:17] axiiiofevil commented on #194
Using Arduino 1.8.5 by the way.

[2018-07-19 04:21] axiiiofevil commented on #194
I can compile V 1.2.6.

[2018-07-20 08:12] AlejandroGarcia92 commented on #194
Yes, you need to change HardwareSerial.h. I've just attached here.
[HardwareSerial.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2213077/HardwareSerial.zip)

[2018-07-20 08:17] #193 closed

[2018-08-05 04:41] crazyp1g opened #195 "Can't Compile who can tell me why"
Arduino:1.8.5 (Windows Store 1.8.10.0) (Windows 10), 开发板："Arduino/Genuino Mega or Mega 2560, ATmega2560 (Mega 2560)"

In file included from sketch\Hysteresis.cpp:27:0:

sketch\language.h:109:25: warning: invalid suffix on literal; C++11 requires a space between literal and string macro [-Wliteral-suffix]

 #define MSG_M115_REPORT "FIRMWARE_NAME:Marlin "MACHINE_NAME"; FIRMWARE_VERSION:"VERSION_STRI

[2018-08-05 04:44] crazyp1g commented on #195
i just download and no any modify

[2018-08-11 20:32] dvb-adenin commented on #195
that's why:
[code]
solution:
edit **C:\Program Files\WindowsApps\ArduinoLLC.ArduinoIDE_1.8.10.0_x86__mdqgnx93n4wtt\hardware\arduino\avr\cores\arduino/HardwareSerial.h**
search this :
[code]
change **protected:** to **public:**

looks somewhat brutal, but it works

[2018-08-11 20:58] dvb-adenin opened #196 "mayby a bug (the same as in the sigmax-firmware)"
degTargetHotend is not an array, but a function
[code]

[2018-08-14 20:41] haqbany opened #197 "SD Memory Card Formatter for Mac Download"
https://www.sdcard.org/downloads/formatter_4/eula_mac/

Tested work great with Mac every time for the LCD

Regards

[2018-08-17 08:00] svengl commented on #193
Maybe a closing comment on this:
As somehow expected, it was not the SD Card reader (as suggested in https://github.com/BCN3D/BCN3DSigma-Firmware/issues/155)
We sent the printer to our dealer and they found that the stepper driver voltage was set way too high, so they adjusted it. Further, the right stepper driver was exchanged as it was probably broken.
Now it seems to be running well for the tim

[2018-08-17 08:02] svengl commented on #155
As reported in issue https://github.com/BCN3D/BCN3DSigma-Firmware/issues/193 our printer received new stepper driver with a correctly adjusted voltage.
We will observe if the sudden retraction will reappear or if it was somehow an interference from the corrupt stepper driver.

[2018-08-27 08:17] AlejandroGarcia92 commented on #196
Yes, I realised a months ago that it can be potential bug and it will be fixed for the next update. Anyway, it seems that compiler fix it while is compiling.

[2018-09-21 17:50] UBGL opened #198 "Can't compile BCN3D Sigma Firmware v01-2.0.2"
I want to compile the new firmware, but got the following error:

In file included from sketch\Hysteresis.cpp:27:0:

sketch\language.h:5:20: fatal error: macros.h: No such file or directory

 #include "macros.h"

                    ^

compilation terminated.

exit status 1

[2018-09-21 23:38] Lostinthe907 opened #199 "Cura not connecting to printer."
I am having this issue, i did the last update to firmware 1.2.7 and cura is up to date 2.1.0 and it is not connecting to the printer to upgrade the firmware even though it says its connected. it just sits and says connecting...

any help to upgrade it to the new firmware not using cura or another way would be awesome

Thanks!
![broke](https://user-images.githubusercontent.com/20216867/45910262-2b1

[2018-09-22 00:02] Lostinthe907 commented on #199
Update,

I have reinstalled cura 2.0.2 and have tried with the same issue. i now believe it is a fault in my firmware not allowing it to connect.

[2018-09-22 01:06] Lostinthe907 commented on #199
fixed!!
Issue was the port number. When plugged into usb it was claiming COM5. renamed COM5 to COM6 and it was able to connect through Cura.

[2018-09-22 12:39] AlejandroGarcia92 commented on #199
Perfect!

[2018-09-22 12:39] #199 closed

[2018-09-22 12:45] AlejandroGarcia92 commented on #198
@UBGL Let me look, you will be answered next week asap.

[2018-09-22 17:51] thesec commented on #198
Same on arduino 1.8.7.

[2018-09-23 10:40] thesec commented on #198
Having moved over the 1.27 macros and after having made the HardwareSerial.h public I am now at "In file included from /var/folders/_l/fjsbcnjx489b66mnk8ph_w4m0000gn/T/arduino_build_637766/sketch/LCD_FSM.cpp:23:0:
register_codes.h:19:23: error: invalid digit "8" in octal constant
#define REGIST_CODE_8 0188".

[2018-09-24 08:12] omersa opened #200 "Something wrong with new firmware / does not load filament"
I have installed new version 01-2.0.2 on my Sigma Original upgraded to 2017. When I try to load filament a strange noise is comming from the machine and the filament is not moved. Also there is no sign of warming up. Also when the heads are moved it is much more noisier than before. Please help, as I really need ASAP.

[2018-09-24 08:16] omersa commented on #200
The same thing when trying to unload. It seems some of the steppers are hyperspeeding. When the heads move to home position they work normally, but when moving to the centre they move very fast with a lot of noise.

[2018-09-24 10:37] AlejandroGarcia92 commented on #200
Have you configured properly the extruder config at Utilities/Printer Setup/Components Setup? Take into account that R19 extruder works with more steps per mm than R17.

[2018-09-24 10:46] AlejandroGarcia92 commented on #200
@omersa That's a extruder issue, isn't it?

[2018-09-24 10:51] AlejandroGarcia92 commented on #198
I will take a look tomorrow. I will check what happened with the git commit as well.

[2018-09-24 10:56] omersa commented on #200
I have selected all the right things. I can do it again. Is it enough just to change the LCD files?

[2018-09-24 11:04] omersa commented on #200
I have found a solution. At least I maneged to load the filament. There is a setting by default that the filament sensors are installed. It seems to be a bug. I selected Sigma 16/17 and this setting should be OFF by default. Will do some tests more.

[2018-09-24 11:30] AlejandroGarcia92 commented on #200
Ok, If the filament sensor is on, it would work fine usually. The button filament sensor was implemented in case there was a issue on this functionality. But I didn't expect this particular issue.

Let me know more. We are working on hotfix update for october anyway.

Thanks for the feedback.

[2018-09-24 11:32] #196 closed

[2018-09-24 11:34] #188 closed

[2018-09-25 07:33] AlejandroGarcia92 commented on #198
@thesec I have the same issue, lets see.

[2018-09-25 08:02] AlejandroGarcia92 commented on #198
Now I can compile, tell me if you can too.

[2018-09-25 08:09] #200 closed

[2018-09-25 08:09] #195 closed

[2018-09-25 08:44] thesec commented on #198
Thanks Alejandro.

Marlin_main.cpp has another include of the missing macros.h.
Removing that include, too, compilation on a fresh 1.8.7 install of arduino now ends in a

The macros still seem required?

Could you drop us your mods to the HardwareSerial.h and to see what we might be missing to have it compile?

[2018-09-25 11:50] AlejandroGarcia92 commented on #198
Yes, it seems that is required, I don't remember why. macros.h is linked to this direction on my computer: <C:\Users\USER\AppData\Local\Temp\VMBuilds\Marlin\mega_atmega2560\Release\macros.h> and it could be the reason about it works on my computer. I add the macros.h to the project and HardwareSerial.h.

[2018-09-25 11:55] AlejandroGarcia92 commented on #198
You will find HardwareSerial.h at Marlin/BCN3D_libmods/

[2018-09-25 13:13] thesec commented on #198
Still throwing warnings

but am back compiling now - yay! 😃

[2018-10-01 19:49] SigmaFred opened #201 "USB connection fails from Cura to Sigma R16 after upgrade to 2.0.2"
After upgrading Sigma R16 successfully to 2.0.2 using Cura 2.1.0 on MAC, I tried to update now to 2.0.3 but Cura could not connect to Sigma.

Any Idea how to fix this?

Details:
Upgraded my Sigma R16 successfully to 2.0.2 using Cura 2.1.0 on MAC
After upgrade (incl. LCD) - did a small test print - looked OK.
Now tried to update now to 2.0.3 but Cura could not connect to Sigma.
Automatic upgrade fa

[2018-10-02 07:42] AlejandroGarcia92 commented on #201
Does Cura detect which FW version have you installed?

[2018-10-02 13:50] #184 closed

[2018-10-02 13:50] #161 closed

[2018-10-02 14:56] pgilfernandez opened #202 "How to Calibrate with other material than PLA?"
I thought this new 2.0.2 firmware let the option to choose the temperature of your materials in order to launch the calibration process but I don't see it...

How can it be done?
Thanks

[2018-10-02 15:16] AlejandroGarcia92 commented on #202
The temperatures have been chosen depending of the material that you loaded on "Load Filament".

Also, at Main Menu/Temperatures you will see the temperatures set.

If you want to use another temperatures that are not the default ones, use the option "Custom" at "Load Filament".

2.0.3 FW has been released btw.

[2018-10-02 15:28] #174 closed

[2018-10-02 15:28] #183 closed

[2018-10-02 15:29] #73 closed

[2018-10-02 15:30] #89 closed

[2018-10-02 15:30] #92 closed

[2018-10-02 15:31] #128 closed

[2018-10-02 15:32] #125 closed

[2018-10-02 15:32] #109 closed

[2018-10-02 17:27] SigmaFred commented on #201
reopened - sorry for the wrong click

[2018-10-03 08:03] AlejandroGarcia92 commented on #201
There are a few things that should happen and are not happening.

- Latest version should appear if you are connected to Internet.

- "Upload custom Firmware" should work anyway.

- Just before, you loaded successfully the firmware and now not.

So, at this point, I'm not able to give you the solution but maybe we would find the problem.

**If the problem comes from CURA:**

Maybe you can try to l

[2018-10-03 08:14] #148 closed

[2018-10-03 12:08] SigmaFred commented on #201
**Got it running finally!**
But with Windows machine only. With my Mac it still does not work.
Thank you for your advice (and maybe you did a magic spell - without telling me)

Details:
- Did a restart of Sigma (off/on)
- Shut down my Win Machine
- Started Win machine with Sigma (powered on) plugged in (USB).
- Checked COM port (on my machine COM3) and changed default 'Baud' from 9600 to 230400.
-

[2018-10-03 12:08] #201 closed

[2018-10-08 23:04] Prejkox commented on #188
@AlejandroGarcia92 I see that you closed this query. I have read your latest answer but still do not fully understand and was wondering if you misunderstood my wish.
I understand that the screen can not present more letters. But there must be some way to be able to present a longer filename then the printer currently do. You are talking of display limitations. Is it not possible to scroll a file n

[2018-10-17 16:55] kevinkevinkevinkevinkevinnnnnn opened #203 "using heatbed logic out to switch on and off external gear?"
hi there

not sure if this a place to ask this question but anyway lets try it:
i wanted to ask if there is any possibility to have an analog logic output of the m140 and m190 command (or whatever the heatbed gcode command is on sigma) through a pin on the mainboard to run a relais? like a hi when its activated and a low when its done or vice versa.

or would there be any kind of possibilty for th

[2018-10-18 10:05] AlejandroGarcia92 commented on #203
MB Led pins(24V) are working with PWM-8bit signal and the light intensity is proportional to the PWM duty cycle configured.

But I don't what you need to do exactly.

[2018-10-18 18:15] kevinkevinkevinkevinkevinnnnnn commented on #203
hi alejandro

thanks for your reply.
i want to be able to turn on and off a relais with gcode. the relais is controlling a small heater to heat up the air inside of the printer to about 50°C(its limited by a thermostat)
is that theoretically possible with these pins. or is there any pinset on the board which can be used for communication with outside gear?
else i will just use a external timer to

[2018-10-19 17:48] thesec opened #204 "Display Fw missing "Botton"s"
Workshop4 IDE does not open the .4dgenie project file for a ton of 'Botton's claimed missing, e.g.
![screenshot 2018-10-19 at 19 41 08](https://user-images.githubusercontent.com/91770/47234810-50184f80-d3d7-11e8-96b8-73add9b8c4b3.png)

[2018-10-19 18:32] thesec commented on #204
Updating the IDE to the latest - 4.5.0.17b - ... just stalls the IDE :/

[2018-10-21 09:43] thesec commented on #204
Finally stumbled across the "Read.txt" in "ExtraFiles" and got to find the location described by "*\4D Labs\4D Workshop 4 IDE\SysImages\Buttons".

I suggest to include instead the absolute path as Windows users rarely install on other paths and only the drive letter should change if they do.
Moving the ReadMe next to the Genie file will help others to find it more quickly.

[2018-10-22 12:40] AlejandroGarcia92 commented on #204
Ok, I will take into account your suggestions.

[2018-10-22 17:22] Valenthior opened #205 "Simplify3D 4.0.1 Vs Sigma Firmware 2.0.4(?)"
After installing the latest Firmware available through Cura 2.1.1, this Features :  "The printer now checks the file to print and makes sure the physical configuration of hotends matches the gcode." prevents me from printing a successful GCODE already printed by telling me that my nozzles are different from the gcode. in S3D I have Left : 0.4 / Right : 1.0, The printer sees L:0.9/R:1.0 in the Gcod

[2018-10-22 18:06] Valenthior commented on #205
[Clip_02_A.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2502532/Clip_02_A.zip)
Gcode Generated by S3D

[2018-10-22 18:08] Valenthior opened #206 "Simplify3D 4.0.1 Vs Firmware 2.0."

[2018-10-22 18:08] #206 closed

[2018-10-22 18:10] Valenthior commented on #205
...

[2018-10-23 07:49] AlejandroGarcia92 commented on #205
It seems that fw expects this line at gcode:` ;   extruderDiameter,1.0,0.4` but the real is `;   extruderDiameter,1,0.4`.

So, this should be fixed at the next release. Meanwhile you can change the value manually.

Thank you for the feedback.

[2018-10-23 08:35] thesec opened #207 "Head hitting bed with initial calibration and print after update to 2.0.4"
 After having updated to 2.0.4 the initial calibration ended with the bed being moved higher than the heads and the left head crashing into it.
The second  try - after having restarted the printer - worked flawlessly.

But the first print repeated the initial behavior of the head crashing into the bed for it being moved to high. Turning the printer off and back on ... the second try of the print -

[2018-10-23 19:13] Valenthior commented on #205
Thx for the reply,
Can't it just ignore it as it is only a comment in the Gcode?

[2018-10-23 19:18] SigmaFred opened #208 "Wrongly displayed build time (Simplify3D 4.0.1 / Sigma Firmware 2.0.3)"
Simplify3D calculates built time with 7 hours 1 minute - Printer displays 0:01h ...
; Build Summary
;   Build time: 7 hours 1 minute
;   Filament length: 6991.1 mm (6.99 m)
;   Plastic volume: 44599.07 mm^3 (44.60 cc)
;   Plastic weight: 55.75 g (0.12 lb)
;   Material cost: 1.11
[08_GiftBox.gcode.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2507611/08_GiftBox.gcode.zip)

If I change it

[2018-10-24 09:19] AlejandroGarcia92 commented on #208
Ok, Thank you for the feedback. I will fix it.

[2018-10-24 14:01] AlejandroGarcia92 commented on #207
I don't have an answer right now, it's strange but we will investigate it.

[2018-10-24 14:07] AlejandroGarcia92 commented on #205
The problem is that FW think that are doing a good parsing of the comment info.

[2018-10-24 14:18] thesec commented on #207
Thank you. It might be a coincident only. I will verify on the hardware end of things, too.

[2018-10-24 14:22] thesec commented on #207
Btw - the bed hits the switch first (so the end-switch is working), is then lowered, then the nozzle is primed before the bed goes up just slightly below print height. The latter is where it goes up too high then, right before printing.

[2018-10-24 20:55] Valenthior commented on #207
After the update, mine has gone into endstops... I had to turn it off as the motors were forcing (I do not know whichone). Turn it on again and made a Z calibration which went flawlessly.

[2018-10-26 06:59] AlejandroGarcia92 commented on #207
Understood.

[2018-10-26 08:10] thesec commented on #207
Trying to get a photo or video it printed well for a single print just to move the bed directly into the head prior the next, see attached photo.
The endstop has not been hit before to get the level, instead the bed just moved up and into the parked head ... exactly the same as with the first run of initial calibration. Seems like the z-leveling routine is skipped :/
![sigma-hed-hit-bed](https://u

[2018-10-27 17:16] thesec opened #209 "Compilation Settings Display FW"
Which Project/Destination settings in the Workshop 4 IDE are the correct ones to compile the same as provided within the repository?
"Run RAM", "Run Flash" or "uSD" and which Bank?
Which do you use to bootstrap the displays for R19's?

[2018-10-29 14:37] thesec commented on #207
Thank you and yes, I agree that being strange :) ... appreciating any thoughts this thread brings up on either helping to detect a hardware or software issue ...

In the last case - the one I added the photo for - the bed level was not detected hitting the endstop first but the head was left in place (homed after previous print) and the bed immediately moved up.

So the regular pre-print routine m

[2018-10-29 15:15] #204 closed

[2018-10-30 14:51] AlejandroGarcia92 commented on #203
Sorry, Led pins are not prepared to do that task(I check it again and it is no possible). There are some pins available on the mainboard but not ready to be controlled via gcode with the current FW.

[2018-10-30 14:51] #202 closed

[2018-10-31 13:22] AlejandroGarcia92 commented on #207
The same issue has happened today on one of our Sigmax and I fixed by connect and reconnect the flat cable. It seems that is a bad connection issue on my case. Also, depends of the position of the carriage there was a good connection or not.

[2018-10-31 14:13] thesec commented on #207
Oh, which cable has it been in your case?

[2018-10-31 14:25] AlejandroGarcia92 commented on #207
The cable that is connected to the right "hotend board" on my case.

[2018-10-31 15:07] thesec commented on #207
Wow, the one one would guess for lastly ... how did you identify this cable as "the one"?

[2018-10-31 16:07] AlejandroGarcia92 commented on #207
I checked the connections between the MainBoard and the endstop, there are 2 elements between: a flat cable and the hotend board. In my case, the problem was on the right Z endstop, so I only checked the right.

[2018-11-01 12:22] thesec commented on #207
So I guess your's was hitting the right head upon head's calibration?

[2018-11-04 16:56] thesec commented on #209
Just tried:
"No Errors, code size = 0 bytes
Starting Script LOADSIGMA.4dscript
Ending Script LOADSIGMA.4dscript"
is what happens without anything loaded to the display, at least it does not reset as I'd expect it to? The com port is the one reported by "mode" and in the IDE.
Is there anything else to be set, configured, ...?

[2018-11-05 08:32] AlejandroGarcia92 commented on #207
Yes

[2018-11-05 09:03] AlejandroGarcia92 commented on #209
Don't open LOADSIGMA.4dscript, use the Temp4D.4dg.
 You will see something like that:

I pressed compile

![captura 1](https://user-images.githubusercontent.com/17469944/47987793-bfcd5080-e0e0-11e8-903d-b4c907590365.jpg)

![captura 2](https://user-images.githubusercontent.com/17469944/47987800-c22faa80-e0e0-11e8-95c4-940f184ab107.jpg)

![captura 3](https://user-images.githubusercontent.com/1746994

[2018-11-06 08:57] thesec commented on #207
Thanks Alejandro, retried with 2.0.5 and new wiring (X and Y) and drivers (X).
While the calibration went fine the first print after unloading and loading new filament showed the same behaviour: the left head was just moved aside on X and the bed then started to move into it, the move on Y was missing to move the endstop over the bed.

I will retry after a downgrade to 1.2.7 ... the guess being th

[2018-11-07 09:12] thesec commented on #209
Thanks again, hope to get to give it a try next weekend ...

[2018-11-07 09:20] thesec commented on #207
Am happily back printing after a downgrade to 1.2.7.

So - to me at least - it seems like there's obviously a bug in the pre-print bed level detection missing out the move on Y with 2.0.4 and 2.0.5 at least :/

Let me know if I can help you narrowing it down.

[2018-11-07 13:16] AlejandroGarcia92 commented on #207
Ok

[2018-11-07 13:17] AlejandroGarcia92 commented on #197
Thank you!

[2018-11-07 13:17] #197 closed

[2018-11-07 13:18] #194 closed

[2018-11-12 17:58] pvnct opened #210 "[Bug] R16 Unable to print from SD"
After upgrading my R16 to the latest firmware 2.0.4 (and the screen sd card of course) i am unable to print from SD card:

All files appears in the browser but when i hit print it reload the browser and don't launch the print.

I have tried  with different  SD cards, different codes from BCN3D cura or S3D , same result

[2018-11-13 11:49] AlejandroGarcia92 commented on #210
I discard mainboard FW cause of course and I think that something is failing during lcd fw upgrade. Historically there were some issues around the sd card but I'm not sure what is happening right now without more extra feedback.

[2018-11-14 08:39] AlejandroGarcia92 commented on #210
Any way, can you tell us which sd card do you have placed on the LCD? Because we had some problems with the sd card that are not industrial, and those are what we are providing right now on all our products(Printers and Upgrade kid R19).

If you can take a picture, I will be glad.

[2018-11-15 14:43] amosharchi commented on #207
Greetings, I just want to concur that I have the exact same issue.

Originally an R16 model, with the LCD screen that has the white frame, not black, upgraded to R17 with the new smart fan upgrade, and the new 6 stepper motor quieter controllers.

The upgraded required me to update to the newest firmware (and LCD update), I was skeptical that I did something wrong with the procedures, not connecti

[2018-11-15 14:47] thesec commented on #207
Thanks for adding your repro case, @amosharchi.
Did you use the display's firmware files as provided or did you compile your own?

[2018-11-15 14:52] amosharchi commented on #207
The ones provided LCD-FW version: 2.0.2

[2018-11-15 15:02] thesec commented on #207
Thanks again :)
So that should exclude my own display fw compilation from the equation. At least it is not common between the two printers.

[2018-11-15 15:19] amosharchi commented on #207
You're welcome, in any case, I hope this gets resolved soon, as I'm planning to upgrade to R19 soon, in which case downgrading to an older firmware as you did won't be an option if I'm not wrong.

[2018-11-15 15:31] thesec commented on #207
Should you mean to install the upgrade kit by "upgrade to R19" including the Bondtech's etc. that will not block you from downgrading (actually have all but the filament runout sensors on mine). You'll only need to update the extruder's step settings manually if you do. For the filament runout sensors you'll need to change and recompile the printer's fw.

[2018-11-15 16:24] amosharchi commented on #207
Honestly I don't know how to manually adjust the extruder step settings, nor how to change and recompile the printer's fw, so you just confirmed to me that I cannot rollback from R19 to an older firmware haha.

[2018-11-15 16:30] thesec commented on #207
I guess your perspective applies to most Sigma customers. The more important it is to get this blocking issue out of the way :)

[2018-11-15 17:19] thesec commented on #209
Yay - that worked! Thanks @AlejandroGarcia92 👍

[2018-11-15 17:19] #209 closed

[2018-11-15 17:23] AlejandroGarcia92 commented on #207
@amosharchi the steps can be modified via serial communication even gcode file.

Anyway, did you contact support? Because, since 2.0.2 fw was released, we received a lot of inputs such as lcd issues, etc..., but not something like that. Obviously, there is something happening extra that are not working properly because the new machines and the majority shouldn't be work fine.

Another customer had

[2018-11-15 17:31] thesec commented on #207
Perhaps the filament sensor's switch not being wired up properly. Neither amosharchi nor me do have one installed so there won't be any relation to that.

What exactly does it require to reload the mb's bootloader?

[2018-11-15 18:04] AlejandroGarcia92 commented on #207
Theoretically is well wired despite the robustness which is the issue itself. So, the filament runout sensor button exists in case of the sensor is not working properly, you are able to disable it and still using the printer. In addition, the cause can be the plat wire, driver or mb.

We use the AVR-ISP-MK2 programmer, but maybe it is not the solution. We did a full reset always when a printer arr

[2018-11-15 18:05] amosharchi commented on #207
Greetings,

How can I modify the steps in the GCode via USB Serial communication?

I'd also would like to note that <i><u>sometimes</u></i> this doesn't happen when doing a calibration, and there's also an <b>update</b>, the same bug occured recently with a print-job, in the beginning while homing all axis, so I don't think the calibration script is faulty.

I just reset the printer, restarted the

[2018-11-15 18:12] thesec commented on #207
See e.g. page 12 of the manual from emvio engineering on the gcodes required to change the extruder steps, @amosharchi: https://emvioeng.com/wp-content/uploads/2017/06/Bondtech-BCN3D-Sigma-installation-V2.pdf

[2018-11-15 18:14] thesec commented on #207
And yes, the issue is not 100% reproducible but the effect is always the same and damaging the mechanics, therefore blocking the affected machines from being updated to 2.x.
This is not related to S3D or any other slicing software @amosharchi.

[2018-11-15 18:20] thesec commented on #207
@AlejandroGarcia92 - will this adapter do to allow me resetting the mb?
https://www.amazon.de/MUZOCT-Programmierer-Adapter-ATMEGA8-ATMEGA128/dp/B075SYQXCP
Which software is required to apply the bootstrapping?

[2018-11-15 18:43] AlejandroGarcia92 commented on #207
We have this programmer [Olimex AVR-ISP-MK2](https://es.farnell.com/olimex/avr-isp-mk2/programmer-usb-2-0-pdi-tpi-for/dp/2144332?mckv=sthVPJvFO_dc|pcrid|47060796189|kword||match||plid||slid||product|2144332|&gross_price=true&CATCI=pla-73752360782&CAAGID=15009872469&CMP=KNC-GES-GEN-SHOPPING-2144332&CAGPSPN=pla&gclid=CjwKCAiAz7TfBRAKEiwAz8fKONVPuXVVlZ7da66C1fLCD6NBVapdHpmDzeT2_owVr6haS35RR7JwgRoCq_s

[2018-11-15 18:49] AlejandroGarcia92 commented on #207
@amosharchi

You would need to execute the following commands:

[code]

If you need to set the default values execute `M502`

In the new FW, there is a menu to change those parameters.

[2018-11-15 19:17] thesec commented on #207
Does it require the 10 or the 6 pin connector @AlejandroGarcia92 ?

[2018-11-16 07:45] AlejandroGarcia92 commented on #207
We use the isp10 port but we convert it to 6 using a converter 10 to 6. We use a converter 10 female to 6 male but it's more common to find a 10 male to 6 female.
I attach you 10 pictures below.

![20181116_082544](https://user-images.githubusercontent.com/17469944/48604641-be224900-e97a-11e8-8f26-7d2e32d17a9f.jpg)

![20181116_082319](https://user-images.githubusercontent.com/17469944/48604543-773

[2018-11-16 07:54] AlejandroGarcia92 commented on #207
@amosharchi I recommend you, anyway, to contact with support because they have a lot of feedback.

[2018-11-16 13:13] thesec commented on #207
Thank you for the details on connecting the programmer, @AlejandroGarcia92.
Just ordered one to see if that'll allow me to update my upgraded Sigma.
How do I bootstrap the board once the programmer arrives? Do you have a guide at hand or could advise me how to do so?

[2018-11-16 13:58] AlejandroGarcia92 commented on #207
@thesec I have no guide, I should give you support on that. I'm trying to find a software to do it easily. However, I think that it can be done by command line too. Let me try on Monday.

[2018-11-16 19:08] pvnct commented on #210
The Screen SD has been provided by BCN3D - You / your team already replaced the original one i got with the  machine.
I remember from the last failed update that it is a Toshiba (red and grey-white) but i will take a pic as soon as i return to my office.
Also i have to say that i didn't try to format the screen sd  to FAT16 (if i remember well) when i tried to update to 2.0.4
Perhaps it can helps

[2018-11-17 14:15] thesec commented on #207
Thanks in advance, @AlejandroGarcia92 - appreciate it a lot 👍

[2018-11-19 09:19] pvnct commented on #210
![img_20181119_100324](https://user-images.githubusercontent.com/22561965/48697245-7d2d6d00-ebe4-11e8-992f-dfd11195b10a.jpg)

[2018-11-19 10:02] AlejandroGarcia92 commented on #210
It is not a good sd card. Can you try to format the sd anyway?

[2018-11-19 10:07] AlejandroGarcia92 commented on #207
I think that you will need to use AtmelStudio to burn the bootloader.

[2018-11-19 10:32] pvnct commented on #210
FAT16 ? as previous fw version ?

[2018-11-19 10:36] thesec commented on #207
Downloaded and installed ... settings seem plenty ... 😳
How to do the bootstrapping with it?

[2018-11-19 10:38] AlejandroGarcia92 commented on #210
Yes FAT16 for the LCD

[2018-11-19 10:52] AlejandroGarcia92 commented on #207
You will need to load the following .hex(inside .zip), also you can find it [here](https://github.com/BCN3D/BCN3D-Utilities/tree/master/Firmware%20uploader%20scripts/Files).

[BCN3D-stk500boot.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2594734/BCN3D-stk500boot.zip)

How to burn the bootloaded step by step using AtmelStudio 7:

Disconnect the sd cable from MB like this:

![20181119_114

[2018-11-19 11:52] thesec commented on #207
Excellent, the programmer was just claimed shipped in parallel ... can't wait for it to arrive ... 😬
Thank you @AlejandroGarcia92

[2018-11-19 12:00] AlejandroGarcia92 commented on #207
Remember to put programmer's wires and jumpers as I show you.

[2018-11-25 18:49] thesec commented on #207
The adapter I received was for PDI only ... waiting for the ICSP one to arrive ... 😢

[2018-12-02 15:15] thesec commented on #207
Test MB successfully reset ... next fw update and re-testing ... waiting for the prints to end :)

[2018-12-14 16:41] pbartko opened #211 "2.0.6 Full calibration = black screen"
After upgrading to firmware 2.0.6 on Sigma R17, selecting full calibration results in black display screen and machine is unresponsive.

[2018-12-14 18:23] pbartko commented on #211
Previous Firmware was 1.2.7

I've come across two bugs now:
1. Selecting Full Calibration results in an unresponsive black screen
2. Selecting the menu in the upper right corner from the maintenance menu makes the display rapidly flash a long series of different menus.  I'll open another ticket for that problem.

Attached is video for problem 1.
[IMG_0198.zip](https://github.com/BCN3D/BCN3DSigma-F

[2018-12-14 18:26] pbartko opened #212 "2.0.6 Maintenance menu bug"
In Firmware 2.0.6 with Sigma R17.  Selecting the menu in upper right corner of display from the maintenance menu results in a rapid display of a sequence of menu screens.  See attached video.

[IMG_0199.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/2681288/IMG_0199.zip)

[2018-12-14 20:56] pbartko commented on #211
I didn't know the LCD had its own card that needed to be updated.  I updated those files and all is working now.  Thank You!

[2018-12-14 20:56] #211 closed

[2018-12-14 20:57] pbartko commented on #212
Upgrading LCD files solved the problem.

[2018-12-14 20:57] #212 closed

[2018-12-27 11:43] lkvapil opened #213 "Sigma R16 - E3D V6, 1.75 BMG"
Hi,

I upgraded my Sigma R16 with E3D V6 hotends (EmvioEngineering parts) and Bondtech BGM extruders (1.75mm DIA). I downloaded the latest FW, edited thermistor types, changed extruder steps and DEFAULT_NOMINAL_FILAMENT_DIA to 1.75. Then I flashed bootloader to the mainboard and uploaded hex file through Cura. I sliced a test cube in Simplify3D and it printed well with left hotend, but when I do f

[2019-01-02 11:54] AlejandroGarcia92 commented on #213
#define X_SIGMA_PROBE_OFFSET_FROM_EXTRUDER  17.05//20
#define Y_SIGMA_PROBE_OFFSET_FROM_EXTRUDER	22.2
#define Z_SIGMA_PROBE_OFFSET_FROM_EXTRUDER  2.8//2.80//3.4 //It is negative, it is compensated

#define X_SIGMA_SECOND_PROBE_OFFSET_FROM_EXTRUDER	-13.4
#define Y_SIGMA_SECOND_PROBE_OFFSET_FROM_EXTRUDER	22.2
#define Z_SIGMA_SECOND_PROBE_OFFSET_FROM_EXTRUDER	2.8//2.90

[2019-01-02 13:53] lkvapil commented on #213
Hi,

and steps for stepper motors X0 & X1 and E0 & E1 are in Firmware same ?

#define DEFAULT_AXIS_STEPS_PER_UNIT {100,80,1600,400} - both X0 & X1 motors
100 steps/mm and both E0 & E1 400 steps/mm ?

Thank you
Lukas

st 2. 1. 2019 12:54 odesílatel Alejandro Garcia <notifications@github.com>
napsal:

[2019-01-03 10:18] AlejandroGarcia92 commented on #213
Yes

[2019-01-06 13:30] phanphan19 commented on #198
Hello, i try to upload marlin 2.0.6 and i add the file "HardwareSerial.h" in c/arduino/hardaware/....../arduino but the message appear all the time like error in arduino ide 1.8.8.
For upload i choose board arduino mega 2560 and processor 2560.
Can you help me please ?

[1](https://user-images.githubusercontent.com/46418080/50736600-7fad4b80-11bf-11e9-96b9-0c6e71a6902c.PNG)

[2019-01-07 08:39] AlejandroGarcia92 commented on #198
It seems that "HardwareSerial.h" is not the modified file. Did you update arduino just after adding the file?

[2019-01-07 14:04] phanphan19 commented on #198
Hello, here is the procedure I am doing:
1. I download the firmware on github
2. I get the hardwareserial.h file in the zip file that I transfer to my desktop
3. I copy the file to the root file arduino c / programfiles / arduino ...... / cores / arduino.
4.I close all the tabs
5. I recover the firmware in the zip file and open it.
6. I check the firmware by putting the arduino mega card 2560 proc

[2019-01-20 10:08] dvb-adenin opened #214 "flag/register access is wrong"
https://github.com/BCN3D/BCN3DSigma-Firmware/blob/v01-2.0.6/Marlin/LCD_FSM.cpp#L922
flag_utilities_filament_register_acceptok is not a member of flag_sdprinting_register

[2019-01-21 12:43] AlejandroGarcia92 commented on #214
Ok, I think that it is not causing a bug, fortunately.

[2019-01-21 15:44] dvb-adenin opened #215 "M27 reports invalid file position and file size, if the file is already closed."
If no file is open, then I expect "SD printing byte 0/0"

[2019-01-29 02:38] flandaluce commented on #166
same...

[2019-02-04 14:18] #213 closed

[2019-03-10 08:58] JanneMantyharju opened #216 ""Serial print job" screen should only show when printer is actually printing"
I'm using Sigma in combination with Octoprint. The newest firmware introduced the "Serial Print Job" screen which is visible when printer is printing from usb. The only problem is that this screen shows up as soon as the external device opens connection and after that it's not possible to use the printers screen to command filament change etc.

I'd like to have this changed that the screen is visi

[2019-03-11 08:40] AlejandroGarcia92 commented on #216
Hi @JanneMantyharju,

Configure Octoprint with the following mods:

* Go to Octoprint Setting->GCODE Scripts.

* Insert the following code at "After print job is cancelled":

[code]
* Finally, insert the following code at "After connection to printer is established":

[code]

Tell me if it works for you.

[2019-03-15 18:12] JanneMantyharju commented on #216
Thanks, this seems to work! It would be great to document this somewhere

[2019-03-18 08:31] AlejandroGarcia92 commented on #216
Wiki could be a good place.

[2019-03-18 08:31] #216 closed

[2019-04-02 08:40] mm2700 opened #217 "LCD Image rotated after the LCD firmware update SD files 2.0.2"
Hello,
I updated my BCN3D Sigma R17 via Cura to 2.0.6. In order to install the matching LCD Firmware, I disassembled the printer to reach the SD-Card of the LCD-Screen.
I formatted the in Windows with the FAT-Filesystem and 64KB Cluster Size. After that I copied the files for the R17-R19 to the SD-Card. Everything is working but the screen is 180 Degrees rotated.

After that I formatted the SD-Car

[2019-04-03 07:35] AlejandroGarcia92 commented on #217
Technically, the R16 files are not reversed and R17-R19 are reversed. I have no more ideas behind it.

[2019-04-03 07:53] mm2700 commented on #217
Thank you for your comment, I also tried the 1.2.2 LCD Files and they are also reversed. Can I try to use the R16 files with the R17?

[2019-04-03 07:56] AlejandroGarcia92 commented on #217
Yes, try it.

[2019-04-04 07:25] mm2700 commented on #217
Thank you, it works with the R16 with no issues so far. Is the difference between the R16 and R17-19 files just the LCD orientation?

[2019-04-04 07:43] AlejandroGarcia92 commented on #217
Yes, the files itself are the same but reversed.

[2019-04-04 07:43] #217 closed

[2019-08-01 14:10] thesec opened #218 "Stuck in Calibration"
Leaving the Sigma in the left Z-calibration I got distracted a few minutes ... and found the printer having printed the calibration mesh but also having automatically allowed himself to return to the main menu.
Restarting the calibration it starts again with the left Z-calibration but also returns to the main menu right afterwards. A cold restart - turning power off and back on - of the printer di

[2019-08-01 14:40] thesec commented on #218
Keeps doing the same after an update to 2.08 ... and ... also after a 'factory reset' using M502 ... :/

The prompt to select one of the five printed lines shows up for a blink and is immediately replaced by the main menu.

[2019-08-01 15:38] thesec commented on #218
Keeps showing up after bootstrapping the board ... wtf :#

[2019-08-01 19:08] fjohannes commented on #218
Had the same issue with v01-208 firmware twice, but luckily after cold restart it worked again.

[2019-08-02 06:05] AlejandroGarcia92 commented on #218
Hi, you did a good description of the issue but it sounds very rare. Maybe, the element that it's not working is the LCD screen. That's the only idea that I have in mind at the moment. So, SD card format could be enough but I'm not sure.

[2019-08-02 10:32] thesec commented on #218
Thanks Alejandro, already been under way in that direction having checked the SD to sit properly and the cables to do so, too. Will add a reformatting ...

[2019-08-27 17:49] mfreda opened #219 "Smartpurge M800 does not work"
Hi, I tested M800 command: M800 F48 S0.0003 E15.25 P3
Smartpurge function return always (after tool switch):

READ: Purge distance
READ: 3.00
READ: Time inactive
READ: 0

Analysing the code (version 2.0.8), I noticed that variable time_inactive_extruder[0|1] is never incremented.

Best Regards.

Mario Freda.

[2019-08-27 18:27] fjohannes commented on #213
I have the same in mind but also adding a Zesty Nimble to get remote direct drive extruder(s). May I ask how to compile the Arduino files? (Which libraries to use & board to select?)

[2019-08-27 18:41] lkvapil commented on #213
add me through messenger if you can : Lukas Kvapil

I would like to help

Lukas
Dne út 27. 8. 2019 20:28 uživatel fjohannes <notifications@github.com>
napsal:

[2019-08-28 09:34] AlejandroGarcia92 commented on #152
@svenedt Do you need help?

[2019-08-28 11:47] AlejandroGarcia92 commented on #219
Let me check it.

[2019-08-29 08:19] AlejandroGarcia92 commented on #219
I've seen that this feature is implemented only for SD printing.

[2019-08-29 08:35] mfreda commented on #219
Ok, where the variabile time_inactive_extruder[0|1] is incremented in source code Marlin_main.cpp?

In the old versions was incremented in display loop. In the new version I cannot found where is incremented.

Thank you very much.

Mario Freda.

[2019-08-29 19:06] fjohannes commented on #213
which kind of messenger you refer to?
there is none in github, isn't it?

[2019-08-29 21:01] lkvapil commented on #213
Dne čt 29. 8. 2019 21:06 uživatel fjohannes <notifications@github.com>
napsal:

[2019-09-02 07:03] lkvapil commented on #213
how did it went up?

Dne čt 29. 8. 2019 23:01 uživatel Kvapil <l.kvapil9@gmail.com> napsal:

[2019-09-08 13:30] UBGL opened #220 "No 'Serial Print Job' Image in Display useing Repetier-Server"
If i print a Job over the Serial connection via Repetier-Server the display is not switching into the 'Serial Print Job' Window. If i use Octoprint it switches with Repetier-Server not.
Any Idea why?  Or is it possible with a G-Code/M-Code to set the Printerdisplay in this mode?

The printing job works so far..

[2019-09-08 13:33] UBGL opened #221 "No Filament runout detection during a serial print job"
I notice that the printer didn't stop/wait if the filament is running out when print job is comming over serial connection. Didnt notice any infos in the print log. Using Repetier-Server. Using Firmware v2.0.8 on a Sigma R19

[2019-09-08 13:34] UBGL commented on #219
@AlejandroGarcia92

Is it possible to make it in serial printing available?

[2019-09-09 07:35] AlejandroGarcia92 commented on #219
Yes, it is.

[2019-09-11 15:52] mfreda opened #222 "No Filament runout detection during a SD print job"
Hi I have Sigma R19 with firmware 2.0.8.

At Filament runout the printer doesn't stop and continue printing without filament.

Is a hardware issue or a firmware issue?

The printer is new.

Thank you.

Mario Freda.

[2019-09-12 07:06] AlejandroGarcia92 commented on #222
If the functionality is not disabled at printer setup, it is a hardware issue.

[2019-09-12 07:13] AlejandroGarcia92 commented on #221
Filament runout detection is not supported for serial prints. In case of implementation, it would be supported by BCN3D Cura.

[2019-09-18 11:41] mfreda commented on #222
Ok, I have solved myself, there was a switch defect that I solved.

Thanks.

[2019-09-18 11:41] #222 closed

[2019-09-25 07:55] 4truemodels opened #223 "Trying to control bed temperatura at end of gcode"
Hello!

We've noticed for long that every glass bed we use to print with 90ºC and above has a really high chance of breaking whenever it finish printing and cools. That issue is not a serious one in Summer or with a temperature above 25ºC, but now the cold is coming to us we pretend to try some changes to minimize the damages.

We thought it would be a good idea to control the way and speed the he

[2019-09-25 14:09] fjohannes commented on #213
Hi Lukas. Sorry, I still didn't see a way to contact you directly here.

Anyway I made some progress: I was able to compile the firmware in Arduino 1.8.5 with replacing the HardwareSerial.h in the Arduino directory beforehand. It sucessfuly compiles and I can create .hex files (with and without bootloader) to upload via BCNcura to the machine (I upload the file without bootloader).

Two remaining

[2019-09-25 15:46] fjohannes commented on #213
I just called the EEPROM settings with M503 in Pronterface and for Steps per unit it gives values, which I found in configuration.h are defined for the MEGATRONICS_V3 board option...?! Anyway, I have defined `#ifndef MOTHERBOARD
	#define MOTHERBOARD BCN3D_BOARD
#endif`  and changed my values in the correct line for the BCN3D_BOARD

[2019-09-25 16:20] lkvapil commented on #213
Dne st 25. 9. 2019 17:46 uživatel fjohannes <notifications@github.com>
napsal:

[2019-09-25 21:14] svenedt opened #224 "BCNSigma R17 LCD download zip corrupt."
https://github.com/BCN3D/BCN3DSigma-Firmware/blob/master/SD.files.v202-LCD-SIGMA-R17-R19.zip

Zip File seems corrupted. Can anyone else confirm?

[2019-09-26 07:41] AlejandroGarcia92 commented on #224
Have you downloaded the repository?

[2019-10-08 15:06] DLH1997 opened #225 "Saving the print to resume the next day isnt working"
Hi ,

I'm using a BCND3D and when I leave work I have to turn off the printer , so I save the print and the next day when I turn on the printer and resume the print it doesn't print precisely on top of the last layer but slightly beside it ( the whole print shifts about a millimetre forward in the z axis).

Ive updated the firm ware 2 weeks ago so I don't know if I need to re-update it? Would you

[2019-10-14 16:34] AlejandroGarcia92 commented on #225
This features doesn't work properly because there are a few factors that are affecting to not succeed. For instance, the repositioning itself and the material contraction after cooldown.

[2019-10-17 10:23] DLH1997 commented on #225
Ah so it's the feature itself that doesn't work full stop ? So you have this problem too when you use this feature?

[2019-10-31 07:43] WanaGo commented on #224
Zip works fine for me

[2019-10-31 16:32] svenedt commented on #224
Thanks. Tried the repo directly instead of just the folders

On Wed, Oct 30, 2019, 11:44 PM James <notifications@github.com> wrote:

[2019-11-11 19:30] fjohannes commented on #186
Have the same issue while printing via Octoprint from a RasPi3.
Sigma R17 with 2.0.8 firmware.
@AlejandroGarcia92 any news on that?

[2019-11-12 09:02] AlejandroGarcia92 commented on #186
We didn't fix it.

[2019-11-12 11:30] fjohannes commented on #186
Any chance this is a hardware issue I could try to modify (not firm connection, cable shielding, cable size)? Maybe permanently disconnect the LCD /add a hardware switch to turn it off?
Just for clarification: is the message related to the hardware/machine LCD?
Or rather a software problem?

[2019-11-12 13:32] nachtbraker commented on #186
Just to add a datapoint: I’m running Octopi just fine on a RPi3b and a Sigma R17.

Maybe this is can help: I have seen stuttering in the past when I first started using OctoPi. It turned out that I had the Sigma’s LCD screen set to the temperature display. That interfered with proper serial communication I guess. Nowadays I always make sure the display shows the big USB symbol and I have no proble

[2019-11-12 18:33] fjohannes commented on #186
The display on my Sigma shows the USB-Symbol ("Serial Print") by default as long as Octoprint is running a print. Maybe because of my later firmware? Which firmware are you running @nachtbraker ?

[2019-11-12 23:50] nachtbraker commented on #186
Currently 01-2.0.7, but the stuttering I had in the past was obviously with an older version. At that point, I do not think the USB symbol was visible perhaps. The only reason I’m bringing it up is that this was a repeatable scenario in which I could trigger the stuttering. Hopefully this information helps a bit for those concerned.

Ben

[2020-03-26 11:04] thesec opened #226 "Continue Development? Any Progress? Any Soon?"
Hi the repo has ceased active development 9 months ago ...
Do you plan to give birth any soon?
Is there any development going on?

Just a short ping of life would be nice :)

[2020-03-26 13:53] AlejandroGarcia92 commented on #226
Hi @thesec,
The development continues with Epsilon and new gen. We are developing Marlin there: https://github.com/BCN3D/Marlin, Right now, Marlin is a small part of firmware development.

[2020-03-26 14:11] thesec commented on #226
Thanks for the swift heads-up @AlejandroGarcia92 ,

the new repo being a recent fork and already inluding specifics to the Epsilon ... will it be finished first for it and then adapted for Sigma (X)? Is it planned to be adapted or downwards compatible?

[2020-04-17 09:40] omersa opened #227 "Sigma freeze at filament load/unload"
I have Sigma 2016 upgraded to 2017 with the latest firmware. For quite some time have a big problem with load/unload filament. It almost always freezes at processing or adjusting temperature. Any ideas?

Best regards

[2020-04-20 02:20] C06A opened #228 "Link for instructions to upgrade LCD FW returning 404"
My BCN3D R19 worked fine (duplicate/mirror modes didn't work) until I upgraded to the latest version 2.0.8.

After successful upgrade the Cura showed the message that LCD FW should be upgraded to version 2.0.2. When I try to follow the link the page is not found (404 error). I exited the updater to find that the printer is not working any more.

The link in documents in this project also point to

[2020-04-20 09:39] omersa commented on #227
Seems all of the Sigma developers are at home quarantine.
Did it just to try: Formated LCD SD card to 500MB as described on https://github.com/BCN3D/BCN3D-Cura-Windows/wiki/Updating-the-SD-Files-from-the-LCD-Display and save the LCD files again. Seems it works now. Will see in the future.

[2020-04-20 09:39] #227 closed

[2020-04-30 00:58] tilowil opened #229 "Cura 3.2.0 and Sigma R17 updated R19 FW01-2.0.8"
Hello everybody,
In first, I am sorry for my poor english. I speak Google Traduction English.
Before explaining the problem to you, I give you all the technical information.
I have a BCN Sigma R17 updated to R19 with a firmware 01-2.0.8 updated through BCN3D Cura downloaded from the site bcn3d.com. The version of Cura is 3.2.0 which works in an MS Windows 10 environment.
I defined the materials in

[2020-05-20 14:58] conraddewet commented on #221
It is sad that this is not enabled in the firmware. The Sigma/Sigmax works great with Octoprint, only thing that is missing is the runout detection. With M600 not supported, we can not even add external sensors.
How do we get support for M600 and M412 ? If this works then my Sigmax will work great as an online printer - even my $300 printers supports this.

[2020-06-11 07:47] Carrie315 opened #230 "BCN3D doesn't connect with stepper motor"
Hi there, seems there is sth wrong when i try to connect BCN3D and stepper motor.
Checked BCN3D and driver module, they look fine.
Tried with diff. stepper motors, all with the same issue (There is motor enable, but motor just doesnt work).
Have no idea what i did wrongly.

[2020-07-21 08:28] AlejandroGarcia92 commented on #230
I recommend that you contact support. It seems a hardware issue https://support.bcn3d.com/knowledge/kb-tickets/new?hsLang=en

[2020-07-21 08:44] AlejandroGarcia92 commented on #226
It's not planned to continue the Sigma/x development and the downwards compatibility neither.

[2020-07-21 08:44] #226 closed

[2020-07-21 08:44] #224 closed

[2020-07-21 08:46] #218 closed

[2020-07-21 08:49] #219 closed

[2020-07-21 08:51] AlejandroGarcia92 commented on #95
It should not happen in the current fw version.

[2020-07-21 08:51] #95 closed

[2020-07-21 08:53] AlejandroGarcia92 commented on #105
This bug should be fixed on the current fw version.

[2020-07-21 08:53] #105 closed

[2020-07-21 09:08] AlejandroGarcia92 commented on #177
#226

[2020-07-21 09:10] AlejandroGarcia92 commented on #177
Finally, Linear advance has not been added because it does not work properly with our hardware.

[2020-07-21 11:42] AlejandroGarcia92 commented on #214
Fixed

[2020-07-21 11:42] #214 closed

[2020-07-21 11:44] AlejandroGarcia92 commented on #192
#226

[2020-07-21 11:44] #192 closed

[2020-07-21 11:44] AlejandroGarcia92 commented on #189
#226

[2020-07-21 11:44] #189 closed

[2020-07-21 11:44] #210 closed

[2020-07-21 11:45] #168 closed

[2020-07-21 11:50] AlejandroGarcia92 commented on #221
#226

[2020-07-21 11:50] #221 closed

[2020-07-21 11:51] #146 closed

[2020-07-21 14:58] AlejandroGarcia92 commented on #226
Sorry about my previous message, it was quite inaccurate and I'm aware that it has raised some concerns regarding the continuation of the Sigma line, so I have decided to delete it.

We are going to continue working on constantly improving our products as we have done so far and, of course, we are working on new developments at all levels.
The Sigma line has been our main focus for a very long tim

[2020-07-21 15:13] thesec commented on #226
"splitting our efforts" is very different from stalling development completely on that line for over a year now.

I think you have to show actual efforts now to gain a few credits again.

[2020-07-21 16:18] AlejandroGarcia92 commented on #226
It's an evidence that we are more focused on the new gen and It's true that this repository has not been updated for a year. In the short term we will not launch an update, however, it doesn't implies that we are not going to launch an update anymore. I mean that we are still listening the community and if we can launch an updated that improves the printer we will do it of course.

[2020-07-22 08:31] thesec commented on #226
Well, the community is listening, too, and sees lots of issues still pending to be improved if not fixed - not only in firmware, other ends are even worse ...

So not launching any update for over a year with improvements all around ... just do it.
All other just does not sound very ambitious.

[2020-10-14 20:33] viti77 opened #231 "Compile error"
I am trying to compile the Sigma R19 firmware obtained from Github, but it gives me this error. I have tried different PCs with Arduino, I have tried to replace the HardwareSerial.h library, but it keeps giving me an error. Can someone help me.

sketch\Marlin_main.cpp: In function 'bool touchscreen_init()':
sketch\Marlin_main.cpp:1223:61: warning: ISO C++ forbids converting a string constant to 'c

[2021-05-11 14:45] benjjyman opened #234 "epsilon firmware??"
Hi thinking about upgrading my r19 to the epsilon/sigma d25 32bit board, the only thing really stopping me is access to the pin out coding and adjusting the print volume , and maybe need to upgraded the lcd panel???

[2021-05-19 19:19] QuInsight opened #235 "Random "unload filament" during print"
Sometimes a print will unexpectedly go into "Unload Filament" sequence even though I have not implemented color or filament changes in the print. On a recent 18-hour print the problem recurred every 5 minutes or so during the last 2 hours. Problem has occurred on several print files at random over past several months. Unable to find current bug report or fix that matches my problem.

Prusa Slicer

[2021-05-19 19:39] freddotu commented on #235
I can see how that's a disturbing development. I see you are using Prusa Slicer. I have considered to use that slicer for my Sigma, but have not found a profile that supports dual extrusion with duplication and mirroring. Is this something you've found online or developed yourself? Does the profile you use support duplication and mirroring as well as dual material/dual colors?

If one knew the g-c

[2021-05-20 02:04] QuInsight commented on #235
Here is a g-code that gave me the unexpected filament unload. It's a roughly 20 minute print with the error occurring at around minute 17. One file in zip.

[Unexpected Filament Change.zip](https://github.com/BCN3D/BCN3DSigma-Firmware/files/6512369/Unexpected.Filament.Change.zip)

[2021-05-20 02:07] QuInsight commented on #235
Gosh darn...I see I am in the wrong place. New to git hub. Closed and re-opened a new bug issue in the Prusa space.

[2021-05-20 04:31] #235 closed, assigned to nobody

[2021-11-12 12:46] DeBelsch commented on #220
Hello, did you find a way?

Best Regards.

[2022-01-08 20:26] khurss opened #236 "Issues with LCD SD Files"
Hello,

I've updated LCD SD Files and got a problem.

LCD display shows following
![photo_2022-01-08_23-24-16](https://user-images.githubusercontent.com/5000187/148658850-c737e41a-7286-466e-b508-190ddfd0da66.jpg)

I've tried to restore old files but the issues appears the same.

I followed this tutorial - https://support.bcn3d.com/knowledge/update-micro-sd-files-lcd-bcn3d-sigma

I have BCM3D Sigma

[2022-03-16 16:53] AJ-Smoothie commented on #72
Enabling/disabling the buffer didn't work for me, however I found my issue!

I have a crappy Tronxy printer with Marlin on it. It connects just fine to other slicers but I was having issues with Simplify. Here's how I fixed it.

Tools -> Firmware Configuration -> Communication -> Uncheck "Wait for Startup Command". After I deselected this, my printer worked fine! I definitely has to do with the ac

[2022-09-07 17:14] gedsHuster opened #237 "v01-2.0.8 Printing surface calibration failed"
When I calibrate the print surface of the BCN3D Sigma, the limit switch of the left nozzle is not touching the platform. This caused inaccurate calibration results.
I thought it was a firmware problem, yesterday I upgraded the firmware version to 2.0.8, but the problem was still not solved.

Details of the problem：
When my Sigma printer is automatically calibrating the print surface, the limit swi